<div class="">
  <h1>Create Workout</h1>
</div>

<br>
<div class="">
  <form class="" action="/workouts" method="post">

    <p>Workout Name: <input type="text" name="name"></p>
    <p>Description: <textarea name="description" rows="6" cols="50"></textarea> </p>
    <h3>Exercises:</h3>
    <h4>Legs</h4>
    <br>
      <% @legs.each do |exercise| %>
        <div class="">
          <p><input type="checkbox" name="exercise[id][]" value="<%= exercise.id %>"><%= exercise.name %></p>
          <p><%= exercise.description %></p>
          <p>Weight Type: <%= exercise.weight_type %></p>
        </div>
      <% end %>
    <h4>Chest</h4>
    <br>
      <% @chest.each do |exercise| %>
        <div class="">
          <p><input type="checkbox" name="exercise[id][]" value="<%= exercise.id %>"><%= exercise.name %></p>
          <p><%= exercise.description %></p>
          <p>Weight Type: <%= exercise.weight_type %></p>
        </div>
      <% end %>
    <h4>Shoulders</h4>
    <br>
      <% @shoulders.each do |exercise| %>
        <div class="">
          <p><input type="checkbox" name="exercise[id][]" value="<%= exercise.id %>"><%= exercise.name %></p>
          <p><%= exercise.description %></p>
          <p>Weight Type: <%= exercise.weight_type %></p>
        </div>
      <% end %>
    <h4>Arms</h4>
    <br>
      <% @arms.each do |exercise| %>
        <div class="">
          <p><input type="checkbox" name="exercise[id][]" value="<%= exercise.id %>"><%= exercise.name %></p>
          <p><%= exercise.description %></p>
          <p>Weight Type: <%= exercise.weight_type %></p>
        </div>
      <% end %>
    <h4>Back</h4>
    <br>
      <% @back.each do |exercise| %>
        <div class="">
          <p><input type="checkbox" name="exercise[id][]" value="<%= exercise.id %>"><%= exercise.name %></p>
          <p><%= exercise.description %></p>
          <p>Weight Type: <%= exercise.weight_type %></p>
        </div>
      <% end %>
    <h4>Abdominals</h4>
    <br>
    <% @abdominals.each do |exercise| %>
      <div class="">
        <p><input type="checkbox" name="exercise[id][]" value="<%= exercise.id %>"><%= exercise.name %></p>
        <p><%= exercise.description %></p>
        <p>Weight Type: <%= exercise.weight_type %></p>
      </div>
    <% end %>

    <br>

    <p>Don't see the one you are looking for? <a href="/exercises/new">Click here</a> to create a new exercise.</p>

    <input type="submit"value="Create">
  </form>
</div>
