<div class="container">
  <h1><strong>Create Workout</strong></h1>
  <form action="/workouts" method="post">

    <div class="form-group">
      <label for="name">Workout Name:</label>
      <input type="text" class="form-control" name="name" required autofocus>
    </div>
    <div class="form-group">
      <label for="name">Description:</label>
      <textarea name="description" class="form-control"; rows="6" cols="50" required></textarea>
    </div>
    <h3><strong>Exercises:</strong></h3>
    <p>Select checkboxes to add exercise to workout. Click on exercise name for more info.</p>
    <div class="col-md-12">
      <% @exercises.each do |exercise| %>
          <div class="col-md-3 panel panel-default">
              <div class="" style="text-align: center; padding-top: 10px">
                   <p><a href="/exercises/<%= exercise.id %>" target="_blank"><%= exercise.name %> </a></p>
              </div>
                <img src="<%= exercise.img_tag %>" class="img-responsive center-block" style="width:33%" alt="">
              <br>
              <div class="" style="">
                <p><span class="label <%= exercise.body_part_tag %> center-block" style="line-height: 0.9em; max-width: 60%; padding: 5px"><%= exercise.body_part %></span></p>
                <span class="label <%= exercise.weight_type_tag %> center-block"; style="line-height: 0.9em; max-width: 60%; padding: 5px" ><%= exercise.weight_type %></span>
              </div>
            <div class="" style="text-align: center; padding-top: 10px">
              <label class="form-check-label" style="">
                <p
                  style=""><input class="form-check-input" type="checkbox" name="[exercise][id][]" value="<%= exercise.id %>">
                  Add To Workout
                </p>
              </label>
            </div>
          </div>
      <% end %>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Create Workout</button>
  </form>
  <br></br>
  <div class="alert alert-info">
    <strong>Don't see the one you are looking for?</strong> <a href="/exercises/new">Click here</a> to create a new exercise.
  </div>
</div>
