<div class="container">
  <div class="">
    <h1><strong>Edit Workout:</strong> <%= @workout.name %></h1>
  </div>

  <form id="editForm" action="/workouts/<%= @workout.id %>" method="post">
    <input form= "editForm"id="hidden" type="hidden" name="_method" value="patch">
  </form>
  <form id="deleteForm" action="/workouts/<%= @workout.id %>/delete" method="post">
    <input form= "deleteForm"id="hidden" type="hidden" name="_method" value="delete">
  </form>

  <form class="" action="/workouts/<%= @workout.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" form="editForm" name="name" value="<%= @workout.name %>" required autofocus>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea name="description" class="form-control" form="editForm"; rows="6" cols="50" required><%= @workout.description %></textarea>
    </div>
    <div class="container-fluid">
      <p>Select checkboxes to add or remove exercise from workout. Click on exercise name for more info.</p>
      <h3><strong>Current Exercises:</strong></h3>
      <% if @workout.exercises.count > 0 %>
        <% @workout.exercises.each do |exercise| %>
          <div class="col-sm-12 panel panel-default">
            <label class="checkbox-inline">
              <br>
              <p style=""><strong><%= exercise.name %></strong>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <strong>Body Part:</strong>&nbsp;<%= exercise.body_part %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <strong>Weight Type:</strong>&nbsp;<%= exercise.weight_type %>
            </p>
              <p style="padding-left: 1.5em"><input type="checkbox" form="editForm" name="[exercise][current_exercises][]" value="<%= exercise.id %>" class="checkbox-inline" style="">Remove</p>
            </label>
          </div>
        <% end %>
      <% else %>
      <div class="alert alert-info">
          <strong>You have not added any exercises to this workout.</strong> Get started by adding exercises below.</a>
      </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <h3><strong>Exercises:</strong></h3>
      <% @exercises.each do |exercise| %>
          <div class="col-md-3 panel panel-default">
              <div class="" style="text-align: center; padding-top: 10px">
                   <p><a href="/exercises/<%= exercise.id %>" target="_blank"><%= exercise.name %> </a></p>
              </div>
                <img src="<%= exercise.img_tag %>" class="img-responsive center-block" style="width:33%" alt="">
              <br>
              <div class="" style="">
                <p><span class="label <%= exercise.body_part_tag %> center-block" style="line-height: 0.9em; max-width: 60%; padding: 5px"><%= exercise.body_part %></span></p>
                <span class="label <%= exercise.weight_type_tag %> center-block"; style="line-height: 0.9em; max-width: 60%; padding: 5px" ><%= exercise.weight_type %></span>
              </div>
            <div class="" style="text-align: center; padding-top: 10px">
              <label class="form-check-label" style="">
                <p
                  style=""><input type="checkbox" form="editForm" name="exercise[id][]" value="<%= exercise.id %>" class="checkbox-inline" style="">
                  Add To Workout
                </p>
              </label>
            </div>
          </div>
      <% end %>
    </div>
    <br>
    <div class="col-md-12">
      <button type="submit" form="editForm" class="btn btn-primary">Save</button>
      <button type="submit" form="deleteForm" class="btn btn-danger">Delete Workout</button>

      <br></br>

      <div class="alert alert-info">
        <strong>Don't see the one you are looking for?</strong> <a href="/exercises/new">Click here to create a new exercise.</a>
      </div>
    </div>
  </form>

</div>
