<div class="container">
  <h2><strong>Your Workouts:</strong></h2>
  <br>
  <div class="">
    <% if current_user.workouts.count > 0 %>
      <ol>
        <% current_user.workouts.each do |workout| %>
        <li style="line-height: 90%">
          <p style="font-size: 110%"><strong>Workout:&nbsp;</strong><%= workout.name %></p>
          <p style="font-size: 110%"><strong >Description:&nbsp;</strong><%= workout.description %></p><br>
          <div class="btn-group">
            <form action="/workouts/<%= workout.id %>/delete" method="post">
              <input id="hidden" type="hidden" name="_method" value="delete">
              <a href="/workouts/<%= workout.id %>"><button type="button" name="button" class="btn btn-success btn-sm"> &nbsp;&nbsp;View&nbsp;&nbsp;</button></a>
              <a href="/workouts/<%= workout.id %>/edit"><button type="button" name="button" class="btn btn-warning btn-sm"> &nbsp;&nbsp;Edit&nbsp;&nbsp;</button></a>
              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </div>
            </form>
        </li>
        <br>
        <% end %>
      </ol>
      <div class="alert alert-info">
          <a href="/workouts/new"><strong>Click here to create a new workout.</strong></a>
      </div>
    <% else %>
      <div class="alert alert-warning">
          You have not created any workouts! <a href="/workouts/new"><strong>Click here to get started.</strong></a>
      </div>
    <% end %>
  </div>
</div>
