<div class="container">
  <h1><strong><%= @workout.name %></strong></h1>
  <p><strong>Description:</strong> <%= @workout.description %></p>

  <div class="">
    <h5><strong>Settings:</strong></h5>
    <form id=deleteForm action="/workouts/<%= @workout.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
    </form>

    <a href="/workouts/<%= @workout.id %>/edit?workout_id=<%=@workout.id%>"><button class="btn btn-info">Edit Workout</button></a>
    <button type="submit" form="deleteForm" class="btn btn-danger">Delete Workout</button>
    <br><br>
  </div>

  <div class="">
    <% if !@workout.exercises.empty? %>
    <div class="col-sm-12">
      <% @workout.exercises.each do |exercise| %>
        <div class="col-sm-12 panel panel-default">
            <br>
            <p style=""><strong>Exercise:</strong>&nbsp;<%= exercise.name %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Body Part:</strong>&nbsp;<%= exercise.body_part %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Weight Type:</strong>&nbsp;<%= exercise.weight_type %>
          </p>
        </div>

        <form id="editForm" action="/workouts/<%= @workout.id %>" method="post">
          <input form= "editForm"id="hidden" type="hidden" name="_method" value="patch">
        </form>

        <% if !exercise.exercise_sets.empty? %>
        <div class="">
          <% @num = 1 %>
          <table class="table table-striped">
            <tr>
              <th>Set #</th>
              <th>Weight</th>
              <th>Reps</th>
            </tr>
            <% exercise.exercise_sets.each do |set| %>
                <tr>
                <td><%= @num %></td>
                <td><%= set.weight %></td>
                <td><%= set.reps %></td>
              </tr>
            <% @num += 1 %>
            <% end %>
          </table>
        </div>
        <br>
        <% else %>
        <div class="alert alert-warning">
            You have not added any sets to this exercise.
        </div>
        <% end %>
        <div class="">
          <a href="/exercises/<%= exercise.id %>?workout_id=<%= @workout.id %>"><button class="btn btn-primary">View Exercise</button></a>
          <a href="/exercises/<%= exercise.id %>/sets/edit?workout_id=<%=@workout.id%>"><button class="btn btn-success">Add/Edit Sets</button></a>
          <button type="submit" class="btn btn-warning" form="editForm" name="[exercise][current_exercises][]" value="<%= exercise.id %>">Remove Exercise</button>
          <br><br>
        </div>
        <% end %>
      <% else %>
      <div class="alert alert-warning">
          You have not added any exercises to this workout. <a href="/workouts/<%= @workout.id %>/edit?workout_id=<%=@workout.id%>"><strong>Click here to get started.</strong></a>
      </div>
      <% end %>
      </div>
  </div>
</div>
