  <div class="">
    <h1>Workout: <%= @workout.name %></h1>
  </div>

  <div class="">
    <p>Description: <%= @workout.description %></p>
  </div>


  <div class="">
    <% if @workout.exercises.count > 0 %>
    <ol>
      <% @workout.exercises.each do |exercise| %>
        <div class="">
          <p><b>Exercise:</b> <a href="/exercises/<%= exercise.id %>"><%= exercise.name %></a></p>
          <p>Body Part: <%= exercise.body_part %></p>
          <p>Weight Type: <%= exercise.weight_type %></p>
        </div>
        <div class="">
              <% @num = 1 %>
              <% exercise.exercise_sets.each do |set| %>
              <table>
                <tr>
                  <th>Set #</th>
                  <th>Weight</th>
                  <th>Reps</th>
                </tr>
                    <tr>
                    <td><%= @num %></td>
                    <td><%= set.weight %></td>
                    <td><%= set.reps %></td>
                  </tr>
                <% @num += 1 %>
              <% end %>
            </table>
            <br>
        </div>
        <div class="">
            <p><a href="/exercises/<%= exercise.id %>/sets/edit">Add/Edit Sets</a></p>
        </div>
      <% end %>
    </ol>
    <% else %>
      <div class="">
        <p>You have no exercises added to this workout. Get started <a href="/workouts/new">here</a>.</p>
      </div>
    <% end %>
  </div>

  <div class="">
    <p><a href="/workouts/<%= @workout.id %>/edit">Click here</a> to edit this workout.</p>
  </div>

  <div class="">
    <form class="" action="/workouts/<%= @workout.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  </div>

<div class="">
  <small>Currently logged in as <%= current_user.username %>. Not you? <a href="/logout">Log out</a>, or <a href="/users/<%= current_user.username %>">click here</a> to return to your profile.</small>
</div>
