<% if !@authorized_user%>
  <div class="login_signup_error">
    There was an error, or you are not authorized to view this page. Please log in as this user to view the page.
  </div>
<% end %>


<% if @authorized_user%>
<div class="">
  <h1>User Page for <%= @user.username %></h1>
</div>

<div class="">
  <h3>Hello <%= @user.first_name %>!</h3>
</div>

<div class="">
  <div class="">
    <h3>Your Workouts:</h3>
  </div>
  <div class="">
    <% if @user.workouts.count > 0 %>
      <ol>
        <% @user.workouts.each do |workout| %>
        <li>
          <%= workout.name %> <a href="/workouts/<%= workout.id %>">View</a> <a href="/workouts/<%= workout.id %>/edit">Edit</a>
        </li>
        <% end %>
      </ol>
    <% else %>
    <p>You have not created any workouts! <a href="/workouts/new">Click Here</a> to get started.</p>
    <% end %>
  </div>
</div>
<br>
<div class="">
  <p><a href="/workouts/new">Click here</a> to create a new workout.</p>
</div>

<div class="">
  <p style="font-size: 80%">Currently logged in as <%= current_user.username %>. Not you? <a href="/logout">Log out</a>
</div>

<% end %>
