  <div class="">
    <h1>Welcome <%= @user.first_name %>!</h1>
  </div>

  <div class="">
    <div class="">
      <h3>Your Workouts</h3>
    </div>
    <div class="">
      <% if @user.workouts.count > 0 %>
        <ol>
          <% @user.workouts.each do |workout| %>
          <li>
            <p><%= workout.name %> <a href="/workouts/<%= workout.id %>">View</a> <a href="/workouts/<%= workout.id %>/edit">Edit</a></p>
          </li>
          <% end %>
        </ol>
      <% else %>
      <p>You have not created any workouts!</p>
      <% end %>
    </div>
  </div>
  <br>
  <div class="">
    <p><a href="/workouts/new">Click here</a> to create a new workout.</p>
    <p><a href="/exercises">Click here</a> to view all exercises.</p>
  </div>

<div class="">
  <p style="font-size: 80%">Currently logged in as <%= current_user.username %>. Not you? <a href="/logout">Log out</a>
</div>
