<div class="container">
  <h1><strong><%= @exercise.name %></strong></h1>

  <div class="">
    <p><strong>Weight Type:</strong>&nbsp;<%= @exercise.weight_type %></p>
    <p><strong>Body Part:</strong>&nbsp;<%= @exercise.body_part %></p>
  </div>

  <div class="">
    <table class="table">
      <tr>
        <th>Set #</th>
        <th>Weight</th>
        <th>Reps</th>
        <th>Units</th>
        <th></th>
      </tr>
      <form class="form-inline" id="addForm" action="/exercises/<%= @exercise.id %>/sets?workout_id=<%= @workout_id %>" method="post">
      </form>
      <% if @workout_id %>
        <form id="editForm" action="/workouts/<%= @workout_id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="patch">
        </form>
      <% end %>
        <tr>
          <td><%= @set_num += 1 %></td>
          <td><input form="addForm" style="" type="number" min="0" step=".5" name="weight" required></td>
          <td><input form="addForm" style="" type="number" min="0" step=".5" name="reps" required></td>
          <td>
            <select class="form-control" name="units">
              <option value="Lbs">Lbs</option>
              <option value="Kg">Kg</option>
            </select>
          </td>
        </tr>
    </table>
      <a href="/exercises/<%= @exercise.id %>?workout_id=<%= @workout_id %>"><button type="button" class="btn btn-primary">View Exercise</button></a>
      <button type="submit" form="addForm" class="btn btn-success" name="">Add Set</button>
    <% if @workout_id && @workout_id != "null" %>
      <a href="/workouts/<%= @workout_id %>"><button type="button" class="btn btn-info">Return To Workout</button></a>
      <button type="submit" form="editForm" class="btn btn-warning" name="[exercise][current_exercises][]" value="<%= @exercise.id %>">Remove Exercise</button>
    <% end %>
  </div>
</div>
