<div class="container">
  <h1><strong><%= @exercise.name %></strong></h1>

  <div class="">
    <p><strong>Weight Type:</strong>&nbsp;<%= @exercise.weight_type %></p>
    <p><strong>Body Part:</strong>&nbsp;<%= @exercise.body_part %></p>
  </div>

  <div class="">
    <table class="table">
      <tr>
        <th>Set #</th>
        <th>Weight</th>
        <th>Reps</th>
        <th>Units</th>
        <th></th>
      </tr>
      <form class="form-inline" action="/exercises/<%= @exercise.id %>/sets?workout_id=<%= @workout_id %>" method="post">
        <tr>
          <td><%= @set_num += 1 %></td>
          <td><input style="" type="number" min="0" step=".5" name="weight" required></td>
          <td><input style="" type="number" min="0" step=".5" name="reps" required></td>
          <td>
            <select class="form-control" name="units">
              <option value="Lbs">Lbs</option>
              <option value="Kg">Kg</option>
            </select>
          </td>
        </tr>
    </table>
      <button type="submit" class="btn btn-primary" name="">Add Set</button>
      <a href="/exercises/<%= @exercise.id %>"><button type="button" class="btn btn-warning">View Exercise</button></a>
    </form>
  </div>
</div>
