<div class="container">
  <h1><strong><%= @exercise.name %></strong></h1>

  <div class="">
    <p><strong>Weight Type:</strong>&nbsp;<%= @exercise.weight_type %></p>
    <p><strong>Body Part:</strong>&nbsp;<%= @exercise.body_part %></p>
  </div>

  <% if @sets.empty? %>
  <div class="alert alert-info">
    <strong>No sets have been added yet!</strong> <a href="/exercises/<%= @exercise.id %>/sets/new">Click here to get started.</a>
  </div>
  <% else %>
    <table class="table table-striped">
      <tr>
        <th>Set #</th>
        <th>Weight (<%= @sets.first.units %>)</th>
        <th>Reps</th>
      </tr>
      <% @sets.each do |set| %>
          <tr>
            <td><%= @set_num += 1 %> </td>
            <td><%= set.weight %></td>
            <td><%= set.reps %></td>
          </tr>
      <% end %>
    </table>

  <div class="">
    <% if @workout_id && @workout_id != 'null' %>
      <a href="/exercises/<%= @exercise.id %>/sets/edit?workout_id=<%= @workout_id %>"><button type="button" class="btn btn-primary">Add/Edit Sets</button></a>
    <% else %>
      <a href="/exercises/<%= @exercise.id %>/sets/edit"><button type="button" class="btn btn-primary">Add/Edit Sets</button></a>
    <% end %>
  </div>
  <% end %>

</div>
