

<% if @exercise_edit_error%>
  <div class="alert alert-danger">
    <strong>Oops! That exercise already exists.&nbsp;<a href="/exercises/<%= @duplicate_exercise.id %>" target="_blank">Click here to check it out!</a></strong>
  </div>
<% end %>

<div class="container">
  <div class="">
    <h1><strong>Edit Exercise</strong></h1>
  </div>

  <form id="editForm" action="/exercises/<%= @exercise.id %>" method="post">
    <input form= "editForm"id="hidden" type="hidden" name="_method" value="patch">
  </form>
  <form id="deleteForm" action="/exercises/<%= @exercise.id %>/delete" method="post">
    <input form= "deleteForm"id="hidden" type="hidden" name="_method" value="delete">
  </form>

  <form action="/exercises/<%= @exercise.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" form="editForm" name="name" value="<%= @exercise.name %>" required autofocus>
    </div>
    <div class="form-group">
      <label for="weight_type">Weight Type:</label>
      <select name="weight_type" class="form-control" form="editForm">
        <option value="Barbell" <%='selected' if @exercise.weight_type.include?('Barbell') %>>Barbell</option>
        <option value="Dumbbell" <%='selected' if @exercise.weight_type.include?('Dumbbell') %>>Dumbbell</option>
        <option value="Machine" <%='selected' if @exercise.weight_type.include?('Machine') %>>Machine</option>
        <option value="Reps Only" <%='selected' if @exercise.weight_type.include?('Reps Only') %>>Reps Only</option>
      </select>
    </div>
    <div class="form-group">
      <label for="body_part">Body Part:</label>
      <select name="body_part" class="form-control" form="editForm">
        <option value="Legs" <%='selected' if @exercise.weight_type.include?('Legs') %>>Legs</option>
        <option value="Chest" <%='selected' if @exercise.weight_type.include?('Chest') %>>Chest</option>
        <option value="Shoulders" <%='selected' if @exercise.weight_type.include?('Shoulders') %>>Shoulders</option>
        <option value="Arms" <%='selected' if @exercise.weight_type.include?('Arms') %>>Arms</option>
        <option value="Back" <%='selected' if @exercise.weight_type.include?('Back') %>>Back</option>
        <option value="Abdominals" <%='selected' if @exercise.weight_type.include?('Abdominals') %>>Abdominals</option>
      </select>
    </div>
    <button type="submit" form="editForm" class="btn btn-primary">Save</button>
    <button type="submit" form="deleteForm" class="btn btn-danger">Delete</button>
  </form>
  <br>
</div>
