<div class="container">
  <h1><strong>My Exercises</strong></h1>
  <div class="col-md-12">
    <h3><strong>Exercises:</strong></h3>
    <% @exercises.each do |exercise| %>
      <div class="col-md-3 panel panel-default">
        <br>
        <img src="<%= exercise.img_tag %>" class="img-responsive center-block" style="width:33%" alt="">
        <br>
        <div class="" style="">
          <p><span class="label <%= exercise.body_part_tag %> center-block" style="line-height: 0.6em; max-width: 60%; padding: 5px"><%= exercise.body_part %></span></p>
          <span class="label <%= exercise.weight_type_tag %> center-block"; style="line-height: 0.6em; max-width: 60%; padding: 5px" ><%= exercise.weight_type %></span>
        </div>
        <div class="" style="text-align: center; padding-top: 10px">
           <p><a href="/exercises/<%= exercise.id %>"><strong><%= exercise.name %></strong></a></p>
        </div>
      </div>
    <% end %>
  </div>

  <p>Don't see an exercise you are looking for? Create new exercises <a href="/exercises/new">here</a>.</p>
</div>
