<div class="container">
  <h1><strong>My Exercises</strong></h1>
  <p>Click on the exercise name for more info.</p>
  <h3><strong>Exercises:</strong></h3>
  <div class="row">
      <% @exercises.each do |exercise| %>
      <div class="col-md-4 mb-3">
        <div class="card text-center">
          <div class="card-body " style="">
            <img src="<%= exercise.img_tag %>" class="img-responsive" style="width:33%" alt="">
            <h5><a href="/exercises/<%= exercise.id %>"><strong><%= exercise.name %></strong></a></h5>
            <span class="badge badge-info <%= exercise.body_part_tag %>"><%= exercise.body_part %></span>
            <span class="badge badge-success"; ><%= exercise.weight_type %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="alert alert-info">
    Don't see an exercise you are looking for? <a href="/exercises/new"><strong>Create new exercises here.</strong></a>
  </div>
</div>
