<div class="container">
  <h1><strong><%= @exercise.name %></strong></h1>
  <p><strong>Weight Type:</strong> <%= @exercise.weight_type %></p>
  <p><strong>Body Part:</strong> <%= @exercise.body_part %></p>

  <% if @sets.empty? %>
  <div class="alert alert-warning">
    No sets have been added yet!
  </div>
  <% else %>
    <table class="table table-striped">
      <tr>
        <th>Set #</th>
        <th>Weight (<%= @sets.first.units %>)</th>
        <th>Reps</th>
      </tr>
      <% @sets.each do |set| %>
          <tr>
            <td><%= @set_num += 1 %> </td>
            <td><%= set.weight %></td>
            <td><%= set.reps %></td>
          </tr>
      <% end %>
    </table>
  <% end %>

  <div class="btn-group">
    <form action="/exercises/<%= @exercise.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <a href="/workouts"><button type="button" class="btn btn-primary">Add To Workout</button></a>
      <% if @workout_id && @workout_id != 'null' %>
        <a href="/workouts/<%= @workout_id %>"><button type="button" class="btn btn-info">Return To Workout</button></a>
      <% end %>
      <a href="/exercises"><button type="button" class="btn btn-warning" style="background-color: purple; border-color: purple">View Exercises</button></a>
      <a href="/exercises/<%= @exercise.id %>/edit"><button type="button" class="btn btn-warning">Edit Exercise</button></a>
      <a href="/exercises/<%= @exercise.id %>/sets/edit"><button type="button" class="btn btn-success">Add/Edit Sets</button></a>
      <button type="submit" class="btn btn-danger">Delete</button>
  </div>
    </form>

</div>
